.advantages-box {
  margin: 50px 0;

  .advantages-body {
    .common-title {
      text-align: left;
    }

    .advantage {
      padding: 10px 25px 30px;

      .button {
        margin-top: 35px;
      }
    }
  }
}

@include desktop {
  .advantages-box {
    margin: 50px 0 120px;

    .advantages-body {
      background-color: #f1f3f5;

      .img-block {
        height: 100%;
        width: 100%;

        object-fit: cover;
        object-position: -1px 0;
      }
    }
  }
}
