.advantages-box {
  margin: 50px 0;

  .advantages-body {
    .common-title {
      text-align: left;
    }

    .advantage {
      padding: 10px 25px 30px;

      .button {
        margin-top: 35px;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .advantages-box {
    .advantages-body {
      .common-title {
        margin-top: 0;
      }

      .advantage {
        padding: 0 25px 30px;

        .description {
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
}

@include desktop {
  .advantages-box {
    margin: 50px 0 120px;

    .advantages-body {
      background-color: #f1f3f5;

      .img-block {
        height: 100%;
        width: 100%;

        object-fit: cover;
        object-position: -1px 0;
      }
    }
  }
}
