.advantages-box {
  margin: 50px 0;

  .advantages-body {
    .common-title {
      text-align: left;
    }

    .advantage {
      padding: 10px 25px;

      .button {
        margin-top: 35px;
      }
    }
  }
}

@include desktop {
  .advantages-box {
    margin: 50px 0;

    .advantages-body {
      background-color: #f1f3f5;
    }
  }
}
