.faq-sections-box {
  .title {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.16;
    color: #ffffff;
    margin-top: 0;
  }

  .sections {
    .section {
      display: inline-block;
      padding: 27px;
      color: white;
      border-radius: 39.5px;
      border: solid 3px #ffffff;
      background-color: #7ab800;
      text-transform: uppercase;

      font-size: 17px;
      font-weight: 500;
      line-height: 1.12;
      text-align: center;
      text-decoration: none;

      width: 100%;
      margin-bottom: 25px;

      &.active {
        background: #97e006;
      }
    }
  }
}

.questions-box {
  margin-bottom: 50px;

  .questions {
    .question {
      background: #f1f3f5;
      padding: 30px;
      border-radius: 15px;
      margin-bottom: 25px;

      .title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.28;
        color: #343a40;
        margin-top: 0;
      }

      .label {
        text-transform: uppercase;
        color: white;
        background: #526ec6;
        padding: 7px 10px;
        border-radius: 8px;
      }

      .answer-link {
        position: relative;
        display: inline-block;
        height: 44px;
        width: 44px;

        border-radius: 50%;
        border: 2px solid #343a40;

        &::after {
          position: absolute;
          top: 10px;
          left: 16px;

          content: ">";
          font-size: 18px;
          font-weight: 500;
          color: #343a40;
        }
      }
    }
  }
}

.answers-title {
  color: #003478;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 18px;
}

.answers-box {
  .answers-head {
    margin-bottom: 20px;
  }
  .answers-body {
    .answers {
      .answer {
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 25px;

        .answer-head {
          background: #f1f3f5;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.28;
            letter-spacing: normal;
            text-align: left;
            color: #343a40;
            margin: 0;
          }

          .open-answer {
            margin-left: 10px;
            &::after {
              display: block;
              content: ">";
              font-size: 18px;
              font-weight: 500;
              color: #7ab800;
            }
          }
        }

        .answer-body {
          display: none;
          padding: 20px;
        }

        &.opened {
          border: 1px solid #e2e3e6;

          .answer-head {
            background: #32373c;
          }

          .answer-head {
            .title {
              color: white;
            }

            .open-answer {
              &::after {
                transform: rotate(90deg);
              }
            }
          }

          .answer-body {
            display: block;
          }
        }
      }
    }
  }

  ul,
  ol {
    margin: 0;
    padding-left: 25px;

    > * {
      margin-bottom: 5px;
      font-size: 17px;
    }
  }
}

.answers-sorting-box {
  display: none;
}

@include desktop {
  .faq-sections-box {
    .sections {
      display: flex;
      justify-content: space-evenly;

      .section {
        flex-basis: 25%;
        transition: 300ms;

        &:hover {
          color: #7ab800;
          border: solid 3px #7ab800;
          background-color: white;
        }
      }
    }
  }

  .questions-box {
    margin-bottom: 50px;

    .questions {
      .question {
        .answer-link {
          transition: 300ms;

          &:hover {
            background: #526ec6;
            color: white;
            border-color: #526ec6;

            &::after {
              color: white;
            }
          }
        }
      }
    }
  }

  .answers-box {
    margin-bottom: 80px;
    .answers-head {
      display: none;
    }

    .answers-body {
      .answer {
        .answer-head {
          cursor: pointer;
        }
      }
    }
  }

  .answers-title {
    display: none;
  }

  .answers-sorting-box {
    display: block;
    padding-left: 20%;

    .answer-sort {
      border-top: 2px solid #dbdee3;

      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 12px;

      > * {
        margin-bottom: 15px;
        border-bottom: 2px solid #dbdee3;
        padding-bottom: 12px;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: #343a40;
          font-weight: 500;
          font-size: 17px;
        }

        &.active {
          a {
            color: #7ab800;
          }
        }
      }
    }
  }
}
