.first-screen-box {
  margin-bottom: 60px;

  &.autocredit {
    margin-bottom: 0;
    .first-screen-body {
      .first-screen-slogan-box {
        .first-screen-slogan-body {
          background-image: url("../images/autocredit_first_screen_mobile.jpg");
          background-size: calc(100% + 8px);
          background-position: 2px -18px;
        }
      }
    }
  }

  &.leaseback {
    margin-bottom: 0;
    .first-screen-body {
      .first-screen-slogan-box {
        .first-screen-slogan-body {
          background-image: url("../images/leaseback_first_screen_mobile.jpg");
          background-position-y: 40%;
        }
      }
    }
  }

  &.trade-in {
    margin-bottom: 0;
    .first-screen-body {
      .first-screen-slogan-box {
        .first-screen-slogan-body {
          background-image: url("../images/trade_in_first_screen.jpg");
          background-size: 120%;
        }
      }
    }
  }

  &.thank-you {
    margin-bottom: 0;
    .first-screen-footer {
      padding: 0;
    }

    .first-screen-body {
      .first-screen-slogan-box {
        .first-screen-slogan-body {
          background-image: url("../images/thankyou_fs_mobile.jpg");
        }
      }
    }
  }

  .first-screen-body {
    .first-screen-slogan-box {
      .first-screen-slogan-body {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        height: 190px;

        background-image: url("../images/main_first_screen.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(82, 82, 82, 0.1);
        }

        .big-text {
          position: relative;
          z-index: 1;
        }
      }
    }

    .calculator-box {
      .calculator-body {
        background-color: #f1f3f5;
        padding: 25px 25px 30px;

        .head-link {
          position: relative;
          font-size: 3.5vw;
          color: #003478;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0;
          width: max-content;

          a {
            color: #003478;
          }

          &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;

            height: 1px;
            background: #003478;
          }
        }
      }
    }
  }

  .first-screen-footer {
    background-image: linear-gradient(to top, #7ab800, #96c114);
    padding: 42px 0 30px;
  }
}

.conditions {
  list-style: none;
  margin: 0;
  padding: 0;

  .condition {
    position: relative;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 1.12;
    color: #ffffff;
    padding-left: 35px;

    &::before {
      position: absolute;
      content: "";
      top: 1px;
      left: 0;

      height: 19px;
      width: 24px;

      background-image: url("../images/check.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@include desktop {
  .first-screen-box {
    background-image: url("../images/main_first_screen.jpg");
    background-size: cover;
    background-position: 0 -122px;
    background-repeat: no-repeat;

    &.autocredit {
      background-image: url("../images/autocredit_first_screen_desktop.jpg");
      background-size: cover;
      background-position: calc(55%) 0;
    }

    &.leaseback {
      background-image: url("../images/leaseback_first_screen_desktop.jpg");
      background-size: auto 100%;
      background-position: calc(52%) -127px;

      &::before {
        background: rgba(46, 46, 46, 0.1);
      }
    }

    &.trade-in {
      background-image: url("../images/trade_in_first_screen.jpg");
      background-size: auto 100%;
      background-position: calc(52%) -127px;

      &::before {
        background: rgba(46, 46, 46, 0.1);
      }
    }

    &.slim {
      .first-screen-body {
        .first-screen-slogan-box {
          height: 300px;
        }
      }
    }

    &.thank-you {
      background-image: url("../images/thankyou_fs_desktop.jpg");
    }

    position: relative;
    z-index: 0;
    margin-bottom: 100px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(46, 46, 46, 0.3);
    }

    .first-screen-body {
      position: relative;
      z-index: 10;
      .first-screen-slogan-box {
        position: relative;
        z-index: 1;
        height: 780px;

        .first-screen-slogan-body {
          position: relative;
          z-index: 1;
          display: flex;
          align-items: center;
          height: 100%;

          background: none !important;

          &::before {
            content: none;
          } 
        }

        &::before {
          content: none;
          display: none;
        }

        .calculator-box {
          position: absolute;
          z-index: 2;
          top: 50px;
          right: 0;
          left: 60%;

          .head-link {
            font-size: 17px !important;
          }

          .calculator-body {
            border-radius: 15px;
            padding: 40px;
          }
        }
      }
    }
  }

  .conditions {
    padding-right: 53%;
  }
}
