.footer-box {
  background-color: #222529;
  padding: 40px 20px;

  .footer-body {
    .footer-list {
      list-style: none;
      margin: 0;
      padding: 10px 0 0;

      height: 100%;

      .list-item {
        margin-bottom: 15px;
        font-size: 17px;
        color: white;
        font-weight: normal;

        a {
          display: block;
          color: white;
          text-decoration: none;
          font-weight: normal;

          .small-text {
            font-size: 9px;
            margin-left: 10px;
          }
        }
      }

      &.bordered {
        border-bottom: 1px solid #383d42;
      }
    }
  }
}

.basement-box {
  background-color: #353a3f;
  padding: 30px 15px 40px;
  color: #868e96;
  font-size: 13px;
  line-height: 1.54;

  .basement-head {
  }

  .basement-body {
    .key-points {
      .key-point {
        display: inline-block;
        margin-bottom: 4px;
      }
    }
  }
}

@include desktop {
  .footer-box {
    padding: 70px 20px;

    .footer-body {
      .footer-list {
        &.bordered {
          border-bottom: none;
          border-right: 1px solid #383d42;
        }
      }
    }
  }

  .basement-box {
    .basement-head {
      text-align: center;
    }
  }
}
