.offers-box {
  margin-top: 20px;

  .offers-body {
    .title-box {
      margin-bottom: 60px;
    }

    .offer {
      margin-bottom: 50px;
      text-align: center;
      position: relative;
      background: white;
      padding: 20px;
      overflow: hidden;
      border-radius: 15px;

      .title {
        font-size: 25px;
        font-weight: 500;
        line-height: 1.16;
        color: #353a3f;
        text-align: center;
        margin: 20px 0;
      }

      .button {
        max-width: 250px;
      }

      .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;

        transition: 300ms;

        background-image: linear-gradient(to top, #7ab800, #96c114);
        border-radius: 12px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .title {
          margin: 0;
        }

        .description {
          font-size: 14px;
        }

        .title,
        .description {
          color: white;
        }
      }

      &.show-details {
        .details {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .offers-box {
    .offers-body {
      .offer {
        padding: 0;

        .title {
          font-size: 18px;
        }
        .button {
          font-size: 15px;
        }

        .details {
          padding: 12px;

          .title {
            display: none;
          }

          .description {
            font-size: 14px;
            margin: 0;
          }

          .title,
          .description {
            color: white;
          }

          .button {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@include desktop {
  .offers-box {
    margin-bottom: 100px;

    .offers-body {
      .offer {
        padding: 20px 40px;
        margin-bottom: 0;
        cursor: default;

        &.show-details {
          .details {
            opacity: 0;
          }
        }

        &:hover {
          .details {
            opacity: 1;
          }
        }

        .details {
          padding: 30px 30px 20px;

          .button {
            cursor: pointer;
            border: none;
            font-weight: 500;

            &:hover {
              color: #353a3f;
              background: white;
            }
          }

          .description {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1220px) {
  .offers-box {
    .offers-body {
      .offer {
        .details {
          .description {
            font-size: 17px;
          }
        }
      }
    }
  }
}
