.button {
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  border-radius: 30px;
  background-color: #7ab800;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
}
