.button {
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  border-radius: 30px;
  background-color: #7ab800;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;

  &.empty,
  &.negative {
    border-radius: 27.5px;
    border: solid 3px #7ab800;
    background-color: #ffffff;

    font-size: 17px;
    font-weight: 500;
    line-height: 1.06;
    color: #7ab800;
  }

  &.empty {
    border: solid 3px #ffffff;
    background-color: transparent;
    color: #ffffff;
  }
}

@include desktop {
  .button {
    &.mw292 {
      max-width: 292px;
    }

    &.negative {
      transition: 300ms;
      &:hover {
        background: #88cc02;
        border-color: #88cc02;
        color: white;
      }
    }

    &.empty {
      &:hover {
        border: solid 3px #ffffff;
        background-color: white;
        color: #88cc02;
      }
    }
  }
}
