.logo {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 440 206' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M379.438 100.24c-10.452 0-18.976 8.196-20.27 19.487-1.312 11.475 5.188 19.487 15.81 19.487 10.787 0 18.935-7.831 20.27-19.487 1.31-11.472-5.19-19.487-15.81-19.487m-6.788 59.3c-26.4 0-42.293-16.116-39.547-40.101 2.66-23.233 23.154-40.095 48.73-40.095 21.967 0 42.713 12.398 39.542 40.095-2.788 24.362-21.914 40.1-48.726 40.1m-187.544-59.3c-10.453 0-18.977 8.197-20.27 19.488-1.313 11.475 5.187 19.487 15.809 19.487 10.785 0 18.93-7.831 20.266-19.487 1.315-11.472-5.183-19.487-15.805-19.487m-6.789 59.3c-26.402 0-42.291-16.116-39.545-40.101 2.658-23.233 23.152-40.095 48.727-40.095 21.968 0 42.715 12.398 39.543 40.095-2.788 24.362-21.912 40.1-48.725 40.1m-76.13-2.178l5.2-47.582c.22-2.327-.648-4.118-2.34-6.044-1.779-2.03-4.398-3.06-7.78-3.06-8.16 0-11.875 5.529-12.63 10.701l-5.267 45.985H53.224l5.201-47.582c.194-2.21-.648-4.118-2.337-6.044-1.78-2.03-4.398-3.06-7.78-3.06-8.323 0-12.114 5.896-12.83 10.943l-5.238 45.743H4.098l6.724-58.747H0l1.99-17.38h29.816l5.156 10.623 2.176-3.083c.27-.377 6.916-9.43 20.547-9.43 15.082 0 18.23 9.613 18.356 10.024l1.049 3.389 2.564-2.921c.374-.424 9.48-10.492 27.157-10.492 16.925 0 27.106 11.013 26 21.302l-6.484 56.715h-26.141zm172.965-18.147c-10.62 0-17.122-8.012-15.808-19.486 1.292-11.291 9.815-19.488 20.27-19.488 10.618 0 17.12 8.014 15.807 19.488-1.334 11.654-9.48 19.486-20.269 19.486zm29.067-58.037l-.807 6.597c-5.068-5.183-12.17-8.43-21.406-8.43-25.575 0-46.069 16.863-48.73 40.096-2.744 23.983 13.148 40.1 39.55 40.1 9.051 0 16.643-2.804 22.707-7.362l-.432 3.526s-.22 6.502-5.079 11.578c-5.063 5.288-15.506 11.907-39.997 11.907l-3.128 26.42c28.82 0 49.613-7.05 62.135-20.13 10.958-11.447 12.295-24.044 12.41-28.402l9.17-75.94-26.393.04z' fill='%237AB800' fill-rule='evenodd'/%3E%3Cpath d='M297.488 0c-43.898 0-72.662 20.883-98.9 48.825-38.162 3.34-63.713 32.829-57.683 28.83 16.407-12.513 34.64-19.444 61.547-19.444 1.282 0 35.091-47.59 94.356-47.59 33 0 68.81 18.383 84.25 48.61 35.564 0 62.847 23.813 53.45 60.154-1.185 4.24-.422 4.419 1.39.288 3.524-8.055 18.17-59.943-48.444-68.261C374.116 23.73 335.927 0 297.488 0z' fill='%23003478' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: inline-block;
  width: 69px;
  height: 32px;
  line-height: 1;
}

.phone-logo {
  background-image: url("../images/phone-white.svg");
  width: 22px;
  height: 22px;
  background-position: 0;
  background-size: 100%;
  background-repeat: no-repeat;

  transition: 150ms;
}

.is-active {
  .phone-logo {
    background-image: url("../images/close.svg");
    background-position: 0px -1px;
    transform: rotateZ(90deg);
  }
}

.with-badge {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-left: 35px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position-y: center;

  &.mail {
    background-image: url("../images/email.svg");
  }

  &.clock {
    background-image: url("../images/clock.svg");
  }

  &.phone {
    background-image: url("../images/phone.svg");
  }

  &.cellphone {
    background-image: url("../images/cellphone.svg");
  }
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  margin-left: 0;
  line-height: 35px;
  margin-top: 0;
}

.description {
  font-family: "Circe-Regular";
  color: $color-white;
  font-size: 18px;
  line-height: 25px;
}

.big-text {
  font-size: 30px;
  margin: 0;
  line-height: 1.07;
}

.input {
  width: 100%;
  font-size: 17px;
  line-height: 0.94;
  font-weight: 500;
  color: #343a40;
  padding: 10px;
  border-radius: 7px;
  outline: none;
  -webkit-appearance: none;
  border: none;
  padding: 14px 19px 16px;

  margin: 8px 0;

  &::placeholder {
    color: #343a40;
    font-size: 17px;
    font-weight: 500;
  }

  &.money {
    font-weight: bold;
  }
}

.input-with-label {
  position: relative;
  width: 100%;
  margin: 0 10px;

  .label {
    position: absolute;
    display: inline-block;
    color: #adb5bd;
    font-size: 15px;
    line-height: 15px;

    top: calc(50% - 15px / 2);
    right: 10px;
  }

  .input {
    padding-right: 40px;
  }
}

.input-group {
  display: flex;
  align-items: center;

  margin: 8px 0;
}

.checkbox-body {
  position: relative;
  display: flex;
  cursor: pointer;
  margin-bottom: 12px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  a {
    color: #4e6ccb;
  }

  &:hover .checkbox ~ .checkmark {
    background-color: #ccc;
  }

  .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark:after {
      display: block;
    }

    &:checked ~ .checkmark {
      background-color: #7ab800;
    }
  }

  .checkmark {
    flex: none;
    display: block;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 6px;
      width: 7px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .agreement-link {
    text-decoration: underline;
    font-size: 14px;
    font-weight: normal;
    color: #4e6ccb;
  }
}

@include desktop {
  .logo {
    width: 103px;
    height: 48px;
  }

  .title {
    font-size: 60px;
    line-height: 70px;
    margin-left: 92px;
    margin-top: 0;
  }

  .description {
    font-size: 20px;
    line-height: 30px;
    color: $color-darkgray;
  }
  .button {
    &:hover {
      background: #b40927;
    }
  }

  .big-text {
    font-size: 47px;
  }
}
