@import "grid/main";
@import "slick/main";
@import "hamburger/main";


@import "styles/support/normalize";
@import "styles/support/variables";
@import "styles/support/fonts";
@import "styles/support/mixins";
@import "styles/support/grid";
@import "styles/support/common";
@import "styles/support/slider";
@import "styles/support/buttons";

@import "styles/components/header";
@import "styles/components/footer";
@import "styles/components/main_page";

body {
  font-family: 'Rubik', sans-serif;

  background-color: #232831;
  color: $color-white;
  font-size: 15px;
  font-size: 13px;
}

@include tablet {
  body {
  }
}

@include desktop {
  body {

  }
}
